.types {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-top: 4px;
}

.type-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2));
}
